<div class="container">
  <main class="mainContainer">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Buscar suscriptor"
    />
    <button (click)="getData()">Buscar</button>

    <button (click)="logout()" id="btnLogout">Logout</button>
  </main>

  <table id="myTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Correo Electrónico</th>
        <th>Estado Subscriptor</th>
        <th>País</th>
        <th>Nombre</th>
        <th>Número Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of data
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: totalItems
                };
          let i = index
        "
      >
        <td>{{ item.Id }}</td>
        <td>{{ item.Email }}</td>
        <td class="alert alert-danger" role="alert">
          {{ item.SubscriptionStateDescription | uppercase }}
        </td>
        <td>{{ item.CountryCode }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.PhoneNumber }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-cotent-center" id="containerPagination">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    ></pagination-controls>
  </div>
</div>
